@import "/css/resert.css";
@import url("https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600;700 & display=swap");
body {
  color: #000;
  font-family: "Poppins", sans-serif;
}
.conteiner {
  padding: 0 30px;
  max-width: 1230px;
  margin: 0 auto;
}
/*header*/
.header {
  padding-top: 46px;
  background-color: #f1f1f1;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 76px;
}
.logo {
  position: relative;
  padding: 0 12px 3px 0;
  font-size: 32 px;
  font-weight: 700;
  color: #000;
}
.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: aquamarine;
  border-radius: 50%;
}
.nav-list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
}
.nav-button {
  display: none;
}
.nav-link.activ {
  color: #606060;
}
.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.header-headding {
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20 px;
}
.header-conteiner p {
  line-height: 2;
}
.header-conteiner {
  margin-top: 120px;
  max-width: 500px;
}
/*servise*/
.services {
  padding: 90px 0;
}
.servis-row {
  display: flex;
  column-gap: 30px;
}
.services-card .services-card-img {
  margin-bottom: 30px;
}
.service-card-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}
.services-card p {
  line-height: 2;
}
/* portfolio*/
.portfolio {
  padding: 90px 0;
  background-color: #f1f1f1;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 70px;
}
.title-1 {
  font-size: 34px;
  font-weight: 600;
}
.project {
  text-align: center;
}
.project + .project {
  margin-top: 90px;
}
.progject-img {
  margin-bottom: 40px;
}
.project-title {
  font-size: 18px;
}
.project-title a {
  color: #000;
  text-decoration: underline;
}
/*footer*/
.contact {
  padding: 90px 0;
  text-align: center;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 18px;
  max-width: 480;
  font-size: 18px;
}
.contacts-buttom {
  margin-bottom: 80px;
}
.btn {
  display: inline-block;
  padding: 7px 22px;
  background-color: #070707;
  border-radius: 30px;

  font-size: 18px;
  color: aliceblue;
  transition: background-color 0.2s ease-in, top 0.2s ease-in;
}
.btn:hover,
.btn :focus {
  background-color: aquamarine;
}
.btn:active {
  position: relative;
  top: 3px;
  background-color: #606060;
}

.contact-social {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  align-items: center;
  margin-bottom: 40px;
}
.contact-footer {
  font-size: 14px;
  color: #828282;
}
